.player-card-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    margin-top: 10px; 
    padding: 10px; 
    border-radius: 10px; 
    gap: 50px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .player-card {
    background-color: rgb(64, 8, 56); /* Background color for the container */
    padding: 15px; /* Space inside each card */
    border-radius: 8px; /* Rounded corners for each card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for each card */
    color: white; /* Default text color for cards */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  h2 {
    color: #ffebcd; /* Light beige for player name */
    font-size: 20px; /* Font size for player name */
    margin-bottom: 8px; /* Space below the heading */
  }
  
  h4 {
    color: white; /* White text for details */
    font-size: 16px; /* Font size for details */
    margin: 5px 0; /* Margin around each detail */
  }
  
 /* Button styles (if applicable) */
button {
    padding: 12px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    font-size: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #ccc;
}

button[type="button"] {
    width: 70%;
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-left: 30px;
}

button[type="button"]:hover {
    color: #c706a9;
}
  