body {
    min-height: 190vh; /* Make sure the body takes at least the full viewport height */
    padding-bottom: 10%; 
    background: #010121;
    margin-top: 70px;

}
.parent-container {
    width: 100%; 
    height: 140vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0; 
  }
  